body {
  font-family: 'Space Mono', monospace;
  background-color: #fdf9fd;
}

h1 {
  font-size: 100px;
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

div {
  width: 55%;
  margin-left: 100px;
  margin-top: 300px;
}

span {
  text-shadow: 0 -6.25px #0c2ffb, 0 -12.5px #2cfcfd, 0 6.25px #fb203b,
    0 12.5px #fefc4b;
}

@media only screen and (max-width: 1700px) {
  div {
    width: 75%;
  }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 800px) {
  div {
    width: 90%;
    margin: 100px auto;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  span {
    text-shadow: 0 -3.25px #0c2ffb, 0 -7.5px #2cfcfd, 0 3.25px #fb203b,
      0 6.5px #fefc4b;
  }
}
