body {
  font-family: 'Cormorant', serif;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}

.links {
  display: inline-block;
}

.links ul {
  padding: 0;
}

.links li {
  display: inline-block;
}

.links a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
}

.links a.active {
  border-bottom: 1px solid black;
}

.navbar {
  margin: 32px;
}
