body {
  display: flex;
  background: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.box {
  background: black;
  color: white;
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box::before {
  content: '';
  height: 306px;
  width: 306px;
  background: linear-gradient(cyan, magenta);
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
}
