.box {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  background-image: linear-gradient(to bottom right, cyan, yellow, magenta);
  /* background-size: cover;
  background-position: 50%; */
}
