.box {
  border: 20px dashed red;
  height: 400px;
  width: 400px;
  background-image: url('images/woman.jpg');
  background-clip: content-box;
  padding: 30px;
  /* background-size: cover;
  background-position: 50%; */
}
