body {
  font-family: 'Poppins', sans-serif;
}

.project-grid {
  display: grid;
  grid-template-areas:
    'eth eth alphabet'
    'eth eth traveler'
    'astro cube traveler'
    'cup insta insta'
    'cup insta insta'
    'foam foam dimensional'
    'foam foam dimensional';
  grid-gap: 16px;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

#eth {
  grid-area: eth;
}

#alphabet {
  grid-area: alphabet;
}

#traveler {
  grid-area: traveler;
}

#astro {
  grid-area: astro;
}

#cube {
  grid-area: cube;
}

#cup {
  grid-area: cup;
}

#insta {
  grid-area: insta;
}

#foam {
  grid-area: foam;
}

#dimensional {
  grid-area: dimensional;
}

.project {
  position: relative;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .overlay {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}

.overlay.white {
  color: white;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .project-grid {
    max-width: 100%;
    grid-template-areas:
      'eth eth'
      'alphabet traveler'
      'astro cube'
      'insta insta'
      'cup foam'
      'dimensional dimensional';
  }
}

@media only screen and (max-width: 768px) {
  .project-grid {
    max-width: 100%;
    grid-template-areas:
      'eth eth'
      'alphabet alphabet'
      'traveler traveler'
      'astro cube'
      'insta insta'
      'cup cup'
      'foam foam'
      'dimensional dimensional';
  }

  .project .overlay {
    font-size: 24px;
  }
}
